@import "./normalize.css";

html {
  font-size: 62.5%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  color: #212121;
  line-height: 1.5;
  font-size: 2rem;
  background-color: #eee;
}

/* header*/
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #eee;
}

.landing-page {
  max-width: 100rem;
  margin: 10rem auto 1rem;
}

@media screen and (max-width: 768px) {
  .landing-page {
    margin-top: 15rem;
  }
}
/* Logo*/
.header-img {
  width: 30rem;
  height: 3rem;
  margin-top: 1rem;
}

/* Navigation bar*/
a {
  text-decoration: none;
  color: #212121;
}

li {
  list-style: none;
}
.list {
  padding-right: 3rem;
}

.list li {
  padding: 1rem 2rem;
  font-size: 1.5rem;
  white-space: nowrap;
}

.nav-bar .list {
  display: flex;
  padding: 0 3rem;
}

.nav-link {
  font-weight: 400;
}

@media screen and (max-width: 600px) {
  .header {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .nav-bar .list {
    flex-direction: column;
  }
  .list li {
    padding: 0 2rem;
  }
}

/*form*/
form {
  margin: 0 auto;
}
.landing-page {
  text-align: center;
}

.landing__heading {
  margin-bottom: 2rem;
  white-space: nowrap;
}

.email {
  padding: 1rem;
  width: 100%;
  max-width: 275px;
  border: 1px solid lightgrey;
  margin: auto;
}

.submit {
  display: block;
  margin: 2rem auto;
  text-transform: uppercase;
  background-color: gold;
  border: none;
  font-weight: 700;
  padding: 0.5rem 2rem;
  white-space: nowrap;
  cursor: pointer;
  text-align: center;
}

.submit:hover {
  background-color: #e6e200;
}

@media screen and (max-width: 500px) {
  .email::-webkit-input-placeholder {
    font-size: 1.5rem;
  }
  .landing__heading {
    white-space: normal;
  }
}

@media screen and (min-width: 1024px) {
  body {
    font-size: 1.6rem;
  }
}

/*Feature */

/*grid*/
.grid {
  display: grid;
  margin: 3rem auto;
}
.grid__icon {
  display: none;
}
.grid-content {
  text-align: center;
}
.grid-content h2 {
  margin-bottom: 0;
}
.grid-content p {
  margin-top: 0;
}
@media screen and (min-width: 768px) {
  .grid--3x2 {
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(2, 1fr);
  }
  .grid__icon {
    display: flex;
    justify-self: center;
    align-self: center;
    color: #fb8c00;
    padding: 2rem;
  }

  .grid-content {
    display: flex;
    flex-direction: column;
    justify-self: center;
    width: 80vw;
    text-align: left;
    padding: 1rem;
  }
}

/*video*/

iframe {
  border: none;
  margin: 0 auto;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  iframe {
    width: 80vw;
    height: 35vh;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  iframe {
    width: 70vw;
    height: 45vh;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  iframe {
    width: 60vw;
    height: 50vh;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  iframe {
    width: 60vw;
    height: 50vh;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  iframe {
    width: 39vw;
    height: 40vh;
  }
}
/*cards*/

h1,
h2,
h3 {
  margin: auto 0;
}

.cards {
  display: flex;
  justify-content: center;
  align-content: center;
}

.card {
  border: 1px solid #000;
  width: 100%;
  margin: 5rem 2rem;
  max-width: 300px;
}

.card__header {
  background: #e0e0e0;
  padding: 1rem 3rem;
}

.card__body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem 3rem;
}

.card__body .submit {
  font-weight: 300;
  padding: 1rem 2rem;
}

.card__body ul {
  padding-left: 0;
}

@media screen and (max-width: 768px) {
  .cards {
    flex-direction: column;
    margin: 1rem auto;
  }

  .card {
    margin: 1rem auto;
  }
}
/*footer*/
.footer {
  text-align: end;
  background: #e0e0e0;
  padding: 0 2rem;
}

.footer .copyright {
  margin-top: 0;
  padding-bottom: 2rem;
  opacity: 0.6;
}

.footer__list {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 0;
  padding-top: 2rem;
}

.footer__list li {
  padding: 0 1rem;
}

@media screen and (max-width: 500px) {
  .footer__list li {
    padding: 0 0.5rem;
    font-size: 1.7rem;
  }
  .footer .copyright {
    font-size: 1.5rem;
    opacity: 0.6;
  }
}
